@import url("https://web-static.cdn.boltgaming.io/store2/styles/dev/root_css/z_index_layers_v1.2.1.css");
:root {
    --primary_color: #F8A834;
    --primary_dark_color: #CD7900;
    --primary_light_color: #FFB03E;
    --primary_accent_color: #FFA722;
    --text_shadow_color: #FFA722B0;
    --background_default_color: #120801;
    --primary_red_color: #CD3524;
    --primary_red_light_color: rgba(228, 98, 83, 0.20);
    --primary_gradient_color: linear-gradient(180deg, rgba(249, 168, 53, 0.00) 38.54%, var(--primary_dark_color) 100%), var(--primary_color);
    --white_gradient_color: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.10) 100%), rgba(255, 255, 255, 0.10);
    --white_color_100: rgba(255, 255, 255, 1);
    --white_color_90: rgba(255, 255, 255, 0.9);
    --white_color_80: rgba(255, 255, 255, 0.8);
    --white_color_70: rgba(255, 255, 255, 0.7);
    --white_color_60: rgba(255, 255, 255, 0.6);
    --white_color_50: rgba(255, 255, 255, 0.5);
    --white_color_40: rgba(255, 255, 255, 0.4);
    --white_color_30: rgba(255, 255, 255, 0.3);
    --white_color_20: rgba(255, 255, 255, 0.2);
    --white_color_10: rgba(255, 255, 255, 0.1);
    --black_color_100: rgba(13, 14, 18, 1);
    --black_color_90: rgba(13, 14, 18, 0.9);
    --black_color_80: rgba(13, 14, 18, 0.8);
    --black_color_70: rgba(13, 14, 18, 0.7);
    --black_color_60: rgba(13, 14, 18, 0.6);
    --black_color_50: rgba(13, 14, 18, 0.5);
    --black_color_40: rgba(13, 14, 18, 0.4);
    --black_color_30: rgba(13, 14, 18, 0.3);
    --black_color_20: rgba(13, 14, 18, 0.2);
    --black_color_10: rgba(13, 14, 18, 0.1);
    --dark_blue_color: #12141F;
    --font_face_font_family: 'Custom Roboto';
    --font_face_src: url('https://web-static.cdn.boltgaming.io/store2/fonts/cyrillic-ext.woff2');
    --font_face_font_style: oblique 0deg 10deg;
    --font_face_font_weight: 100 1000;
    --font_face_font_stretch: 25% 151%%;
    --font_face_font_display: swap;
    --font_face_unicode_range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+20BD, U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1C80-1C8F;
    --font_family: 'Custom Roboto', sans-serif;
    --font_variation: 'wdth' 25, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    --font_variation_default: 'wdth' 127, 'GRAD' -31, 'slnt' 0, 'XTRA' 468, 'XOPQ' 78, 'YOPQ' 79, 'YTLC' 481, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    --font_variation_primary: 'wdth' 25, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    --font_variation_italic: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 481, 'YTUC' 712, 'slnt' -10, 'wdth' 88;
    --font_size_heading: 20px;
    --font_size_default: 18px;
    --font_size_s: 12px;
    --font_size_m: 14px;
    --font_size_l: 16px;
    --line_height_default: 21.09px;
    --line_height_heading: 23.44px;
    --font_weight_100: 100;
    --font_weight_200: 200;
    --font_weight_434: 434;
    --font_weight_600: 600;
    --font_weight_700: 700;
    --font_weight_765: 765;
    --letter_spacing_heading: 0.1em;
    --letter_spacing_default: 0.06em;
    --font_uppercase: uppercase;
    --indent_xxs: 8px;
    --indent_xs: 12px;
    --indent_s: 14px;
    --indent_m: 16px;
    --indent_l: 24px;
    --indent_xl: 32px;
    --border_radius_xs: 2px;
    --border_radius_s: 4px;
    --border_radius_m: 8px;
    --border_radius_l: 16px;
    /* Button  vars*/
    --button_vertical_padding: 12px;
    --button_horizontal_padding: 32px;
    --button_primary_text_shadow: 0px 0px 20px rgba(159, 109, 24, 0.65);
    --button_primary_background: var(--primary_color);
    --button_primary_background_hover: var(--primary_light_color);
    --button_primary_background_active: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), var(--primary_light_color);
    --button_primary_background_focus: var(--primary_light_color);
    --button_primary_background_focus_shadow: 0px 0px 10px 0px var(--primary_light_color);
    --button_primary_background_disabled: rgba(181, 121, 34, 0.4);
    --button_primary_color_disabled: var(--white_color_50);
    --button_default_background: var(--white_gradient_color);
    --button_default_background_hover: var(--white_color_20);
    --button_default_background_active: var(--white_color_10);
    --button_default_background_focus: var(--white_color_20);
    --button_default_background_focus_shadow: 0px 0px 10px 0px var(--white_color_100);
    --button_default_background_disabled: #AEAEAE;
    --button_default_color_disabled: #D7D7D7;
    --bottom_sheet_indicator_default_color: #79747E;
    --input_background: var(--black_color_100);
    --input_border_color: var(--white_color_20);
    --input_box_shadow: 0px 4px 68px 0px rgba(255, 255, 255, 0.10);
    --input_box_shadow_error: 0px 4px 68px 0px var(--primary_red_light_color);
    --input_color: var(--white_color_100);
    --input_color_error: #E46253;
    --input_description_font_size: var(--font_size_m);
    --input_description_font_weight: var(--font_weight_200);
    --input_font_size: var(--font_size_l);
    --input_font_weight: var(--font_weight_600);
    --input_horizontal_padding: 12px;
    --input_letter_spacing: 0.8px;
    --input_line_height: var(--line_height_heading);
    --input_placeholder_color: var(--white_color_50);
    --input_placeholder_font_size: var(--font_size_l);
    --input_placeholder_letter_spacing: var(--input_title_letter_spacing);
    --input_placeholder_weight: var(--font_weight_100);
    --input_radius: var(--border_radius_m);
    --input_title_font_size: var(--font_size_l);
    --input_title_font_weight: var(--font_weight_765);
    --input_title_letter_spacing: 0.16px;
    --input_title_margin_bottom: 4px;
    --input_vertical_padding: 12px;
    --bottom_sheet_indicator_height: 4px;
    --bottom_sheet_indicator_radius: 100px;
    --bottom_sheet_indicator_width: 32px;
    --bottom_sheet_padding: 0 16px 20px;
    --bottom_sheet_radius: 16px 16px 0 0;
    --bottom_sheet_wrapper_background_color: var(--black_color_100);
    --popup_padding: 16px;
    --popup_animation: showPopUp 0.2s ease-out, showPopupBg 0.2s ease-out;
    --popup_background: var(--black_color_100);
    --popup_button_padding: 16px;
    --popup_close_button_height: 24px;
    --popup_close_button_padding: 5px;
    --popup_close_button_width: 24px;
    --popup_content_padding: 16px 24px 32px 24px;
    --popup_left: calc(50% - 16px);
    --popup_margin: 16px;
    --popup_max_height: 750px;
    --popup_max_width: 500px;
    --popup_ok_button_width: 100%;
    --popup_raduis: var(--border_radius_l);
    --popup_shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.25);
    --popup_title_font_size: var(--font_size_heading);
    --popup_title_margin: var(--indent_xxs) 24px;
    --popup_title_text_transform: uppercase;
    --popup_top: calc(50% - 16px);
    --popup_transform: translate(-50%, -50%) scale(1);
    --popup_width: 96%;
    --popup_wrapper_animation: showPopupBg 0.2s ease-out;
    --popup_wrapper_background_color: var(--black_color_80);
    --badge_default_background_color: rgba(18, 20, 31, 0.7);
    --badge_border_radius: var(--border_radius_s);
    --badge_background_color: var(--primary_red_color);
    --badge_text_shadow_effect_color: 0px 1px 10px #FFA722B0;
    --marketing_card_button_hover: rgba(18, 20, 31, 0.2);
    --marketing_card_button_active: rgba(18, 20, 31, 0.5);
    --marketing_card_button_text_color: inherit;
    --mobile_app_default_background_image: url('https://web-static.cdn.boltgaming.io/store2/defaultBG.png');
    --layout_container_padding_mobile: 0 var(--indent_m);
    --mobile_app_background_image: url('https://web-static.cdn.boltgaming.io/store2/preySeason2025_1742306564397/images/mobileBg.webp');
    --mobile_login_background_image: url('https://web-static.cdn.boltgaming.io/store2/preySeason2025_1742306564397/images/uidMobile2.webp');
    --tablet_login_background_image: url('https://web-static.cdn.boltgaming.io/store2/preySeason2025_1742306564397/images/uidTablet.webp');
    --desktop_container_width: 1200px;
    --small_desktop_container_width: 1200px;
    --desktop_app_background_image: url('https://web-static.cdn.boltgaming.io/store2/preySeason2025_1742306564397/images/desktopBg.webp');
    --desktop_login_background_image: url('https://web-static.cdn.boltgaming.io/store2/preySeason2025_1742306564397/images/uidDesktop.webp');
}