.yQp3xDdx {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    border-radius: 16px;
    background: rgb(22, 22, 26);
    min-height: 383px;
    justify-content: center;
}

.jjCpAfDG {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 765;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.YPbAq1Zb {
    margin: 20px auto 0px;
    max-width: 300px;
    color: rgb(149, 149, 149);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ncoiSPjl {
    margin: 40px auto 0px;
    width: 100%;
    max-width: 452px;
    font-size: var(--font_size_default);
}

.ZtQ1CRWC {
    text-align: center;
    margin: 122px auto;
    width: 100%;
    max-width: 300px;
}

.wnzrBBtv {
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 765;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.x6PAq4EM {
    margin: 0px auto;
    width: 100%;
    max-width: 300px;
    color: rgb(149, 149, 149);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.InBNk2EE {
    width: 100%;
    height: 100%;
    transform: translateY(100px);
    animation: 0.2s ease-out 0s 1 normal forwards running oNAq2V6X;
    flex-grow: 1;
    min-height: calc(-55px + 100vh);
}

.PunOzSef {
    max-width: 430px;
    position: relative;
    width: 100%;
    min-height: 61px;
    height: auto;
    margin-bottom: 16px;
}

.o0ID9xbm {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px;
}

.ZDZb3Par {
    margin-bottom: 8px;
    max-width: 430px;
}

.jArhX0m7 {
    position: sticky;
    bottom: 0px;
    left: 0px;
    z-index: var(--z_sticky_layer);
}

.QT5NIcxn {
    padding: 6px 12px;
}

.uWhNNFHP {
    padding: 0px;
}

.mG4Lu1kF {
    display: flex;
    width: 100%;
    align-items: center;
    place-content: center;
    border-radius: 8px;
    background: rgb(0, 0, 0);
    height: 78px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 765;
    line-height: normal;
    letter-spacing: 0.8px;
}

.brheK9i7 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 430px;
    width: 100%;
    min-height: 24px;
}

.F8p2LZwZ {
    display: flex;
    justify-content: space-between;
    color: white;
}

.F8p2LZwZ>h2 {
    font-size: var(--font_size_l);
}

.cJFP4Fbh {
    max-width: 430px;
    flex-grow: 1;
}

.U2Y9_SGA {
    padding: 0px;
    width: 19px;
}

.U2Y9_SGA svg {
    width: 18px;
    height: 18px;
}

@keyframes oNAq2V6X {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.pz7n1D_0 {
    max-width: 1200px;
    width: 100%;
    margin: 90px auto 0px;
    gap: 20px;
}

.pz7n1D_0.zfI4wZt_ {
    padding: 0px 32px;
}

.xvYbwLQt {
    border-radius: 8px 8px 0px 0px;
}

.heShWu93 {
    box-shadow: rgb(61, 36, 0) 0px 0px 92px 0px;
    background-color: var(--black_color_100);
}

.LoLfYPX2 {
    width: 390px;
    position: relative;
    height: 600px;
    background-color: var(--black_color_100);
    border-radius: 16px 0px 16px 16px;
    overflow: hidden;
}

.zasQGlOi {
    margin-bottom: 120px;
    margin-top: 20px;
    min-width: 630px;
    width: 100%;
    flex-grow: 1;
}

.NPoX5pGl {
    max-width: 347px;
    top: 0px;
    align-items: flex-start;
}

.yiQ6u5Fh {
    max-width: 347px;
    position: sticky;
    top: 90px;
    align-self: flex-start;
}

.FKVTeD1H {
    width: 100%;
    height: 55px;
}

.Ko3A88ya {}

.tP78YQ6g {
    bottom: 0px;
}

.VTUXRBMl {}